* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(184deg, #8754ff, #8E2DE2);
    margin: 0; /* Remove default margin to ensure full-width background */
}

.start-screen,
.score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 2vw 5vw; /* Use vw for button padding */
    border-radius: 1vw; /* Use vw for border radius */
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    animation: buttonZoom 0.3s alternate infinite;
}

#start-button,
#restart {
    font-size: 2vw; /* Use vw for font size */
    padding: 1vw 5vw; /* Use vw for button padding */
    border-radius: 0.5vw; /* Use vw for border radius */
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}

#restart {
    margin-top: 2vh; /* Use vh for margin-top */
}

#display-container {
    background-color: #ffffff;
    padding: 4vw 2vw; /* Use vw for padding */
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 1vw; /* Use vw for border radius */
}

.header {
    margin-bottom: 2vw; /* Use vw for margin */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6vw; /* Use vw for padding */
    border-bottom: 0.1vw solid #c0bfd2; /* Use vw for border thickness */
}

.timer-div {
    background-color: #e1f5fe;
    width: 10vw; /* Use vw for width */
    border-radius: 2vw; /* Use vw for border radius */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw; /* Use vw for padding */
}

.question {
    margin-bottom: 1.25vw; /* Use vw for margin */
    font-weight: 600;
}

.option-div {
    font-size: 1.5vw; /* Use vw for font size */
    width: 100%;
    padding: 1vw;
    margin: 0.3vw 0;
    text-align: left;
    outline: none;
    border: 0.1vw solid #c0bfd2; /* Use vw for border thickness */
    border-radius: 0.3vw; /* Use vw for border radius */
}

.option-div:disabled {
    color: #000000;
    cursor: not-allowed;
}

#next-button {
    font-size: 2vw; /* Use vw for font size */
    margin-top: 2.5vh; /* Use vh for margin-top */
    background-color: #8754ff;
    color: #ffffff;
    padding: 1vw 5vw; /* Use vw for padding */
    border-radius: 0.5vw; /* Use vw for border radius */
    float: right;
    box-shadow: 0px 4vw 8vw rgba(0, 0, 0, 0.3); /* Use vw for box-shadow */
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

#next-button:hover {
    animation-name: zoomOut;
}

.hide {
    display: none;
}

.incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
}

.correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
}

#user-score {
    font-size: 2.5vw; /* Use vw for font size */
    color: #ffffff;
}

.image-container {
    text-align: center;
    animation: zoomInOut 3s alternate infinite;
}

.image-container img {
    max-width: 100%;
    max-height: 40vh; /* Use vh for maximum height */
    margin: 4vw;
}

.balloon-tooltip {
    position: absolute;
    background-color: #fff;
    border: 0.1vw solid #ccc; /* Use vw for border thickness */
    border-radius: 5vw; /* Use vw for border radius */
    padding: 2vw; /* Use vw for padding */
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1); /* Use vw for box-shadow */
    display: block;
    z-index: 1;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    animation: moveBalloon 1s linear infinite alternate, diagonalBalloon 2s linear infinite alternate;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Modal Close Button */
#modal-close {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes firework {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes moveBalloon {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}
@keyframes diagonalBalloon {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-20px) translateX(20px);
    }
}
@keyframes buttonZoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
.shake {
    animation: shake 0.5s ease-in-out;
}